<html>
  <head>

  </head>

  <body>
    <div class='container'>
      <h2>Your runebingo verification code</h2>
      <p>Code: {{code}}</p>
      <p>Enter this code to login.</p>
    </div>
  </body>
</html>