<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h2>{{ t "email.verificationEmail.subject" }}</h2>
      <p>{{ t "email.verificationEmail.body" }} <pre>{{code}}</pre></p>
      <p>{{ t "email.verificationEmail.cta" }}</p>
    </div>
  </body>
</html>